{% for key, value in collectionspace_environment.items() %}
{{ key }}="{{ value }}"
{% endfor %}
{% if collectionspace_tenant != 'core' %}
CSPACE_{{ collectionspace_tenant | upper }}_CREATE_DISABLED_OPT="false"
{% endif %}
